.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 100px;
}

.button-group > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    border: 0.1em solid #CCCCCC;
    margin-right: 0.3em;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.button-group > a:hover {
    color: #FFFFFF;
    background-color: #C3042F;
    border-color: #C3042F;
}

.backButton {
    margin-top: 40px;
}

.parcelsTable, .parcelsTable th {
    border: 1px solid black;
    border-collapse: collapse;
}

.parcelsTable tr:not(.parcelRow), .parcelsTable tr:not(.parcelRow) td, .parcelsTable th {
    padding: 10px;
}

/*.parcelsTable tr:first-child td {*/
/*    font-weight: bold;*/
/*}*/

.parcelsTable td a {
    display: block;
    padding: 10px;
}

.parcelsTable, .parcelsTable tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.parcelRow:hover {
    background: #DEDEDE;
}

.parcelRow a {
    color: #000000;
    text-decoration: none;
}